{% extends "base.html" %} {% block body_block %}

<div class="preloader d-flex align-items-center justify-content-center">
    <div class="spinner"></div>
</div>

<header class="header-area">
    <div class="famie-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <div id="google_translate_element"></div>
                <nav class="classy-navbar justify-content-between" id="famieNav">
                    <a href="index.html" class="nav-brand">Farm Friend</a>
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>
                    <div class="classy-menu">
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>
                        <div class="classynav">
                            <ul>
                                <li class="active"><a href="index.html">Home</a></li>
                                <li><a href="">About</a></li>
                                <li><a href="weather.html">Weather</a></li>
                                <li><a href="askquestion.html">Ask Questions</a></li>
                                <li><a href="">News</a></li>
                                <li><a href="register.html">Register</a></li>
                            </ul>
                        </div>

                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>


<div class="hero-area">
    <div class="welcome-slides owl-carousel">
        <div class="single-welcome-slides bg-img bg-overlay jarallax" style="background-image: url('static/img/bg-img/n1.jpg');">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 col-lg-10">
                        <div class="welcome-content">
                            <h2 data-animation="fadeInUp" data-delay="200ms">“Agriculture is our wisest pursuit, because it will in the end contribute most to real wealth, good morals, and happiness.”</h2>
                            <p data-animation="fadeInUp" data-delay="400ms">For any query contact below.</p>
                            <a href="#" class="btn famie-btn mt-4" data-animation="bounceInUp" data-delay="600ms">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="single-welcome-slides bg-img bg-overlay jarallax" style="background-image: url('static/img/bg-img/n7.jpg');">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 col-lg-10">
                        <div class="welcome-content">
                            <h2 data-animation="fadeInDown" data-delay="200ms">As long as there’s a few farmers out there, we’ll keep working for them.</h2>
                            <p data-animation="fadeInDown" data-delay="400ms">For any query contact below.</p>
                            <a href="#" class="btn famie-btn mt-4" data-animation="bounceInDown" data-delay="600ms">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="farming-practice-area section-padding-100-50">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="section-heading text-center">
                    <p>Make the green world</p>
                    <h2><span>Farming Practices</span> To Preserve Land & Water</h2>
                    <img src="static/img/core-img/decor2.png" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-farming-practice-area mb-50 wow fadeInUp" data-wow-delay="500ms">

                    <div class="farming-practice-thumbnail">
                        <img src="static/img/bg-img/13.jpg" alt="">
                    </div>

                    <div class="farming-practice-content text-center">

                        <div class="farming-icon">
                            <img src="static/img/core-img/sprout.png" alt="">
                        </div>
                        <span>Farming practice for</span>
                        <h4>Soil Improvement Techniques</h4>
                        <p>Description about the blog...</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-farming-practice-area mb-50 wow fadeInUp" data-wow-delay="600ms">

                    <div class="farming-practice-thumbnail">
                        <img src="static/img/bg-img/14.jpg" alt="">
                    </div>

                    <div class="farming-practice-content text-center">

                        <div class="farming-icon">
                            <img src="static/img/core-img/vegetable.png" alt="">
                        </div>
                        <span>Farming practice for</span>
                        <h4>Intensive Fruit Farming</h4>
                        <p>Description about the blog...</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-farming-practice-area mb-50 wow fadeInUp" data-wow-delay="400ms">

                    <div class="farming-practice-thumbnail">
                        <img src="static/img/bg-img/12.jpg" alt="">
                    </div>

                    <div class="farming-practice-content text-center">

                        <div class="farming-icon">
                            <img src="static/img/core-img/cereal.png" alt="">
                        </div>
                        <span>Farming practice for</span>
                        <h4>Improved Rice Cultivation</h4>
                        <p>Description about the blog...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact-area section-padding-100-0">
    <div class="container">
        <div class="row justify-content-between">

            <div class="col-12 col-lg-5">
                <div class="contact-content mb-100">

                    <div class="section-heading">
                        <p>Contact now</p>
                        <h2><span>Get In Touch</span> With Us</h2>
                        <img src="static/img/core-img/decor.png" alt="">
                    </div>

                    <div class="contact-form-area">
                        <form action="" method="post">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" name="name" placeholder="Your Name">
                                </div>
                                <div class="col-lg-6">
                                    <input type="email" class="form-control" name="email" placeholder="Your Email">
                                </div>
                                <div class="col-12">
                                    <input type="text" class="form-control" name="subject" placeholder="Your Subject">
                                </div>
                                <div class="col-12">
                                    <textarea name="message" class="form-control" cols="30" rows="10" placeholder="Your Message"></textarea>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn famie-btn">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="contact-maps mb-100">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28313.28917392649!2d-88.2740948914384!3d41.76219337461615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880efa1199df6109%3A0x8a1293b2ae8e0497!2sE+New+York+St%2C+Aurora%2C+IL%2C+USA!5e0!3m2!1sen!2sbd!4v1542893000723"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="news-area bg-gray section-padding-100-0">
    <div class="container">
        <div class="row">

            <div class="col-12 col-lg-6">
                <div class="featured-post-area mb-100 wow fadeInUp" data-wow-delay="100ms">
                    <img src="static/img/bg-img/17.jpg" alt="">

                    <div class="post-content">
                        <h6>Post on <a href="#">18 Dec 2020</a> / <a href="#">Carlos Bacca</a></h6>
                        <a href="#" class="post-title">Why innovation is key to maintaining our export market share</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 mb-100">

                <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">

                    <div class="post-content">
                        <h6>Post on <a href="#">18 Dec 2020</a> / <a href="#">Peter Parker</a></h6>
                        <a href="#" class="post-title">Rising cattle supplies see beef export lifted</a>
                        <p>News description here...</p>
                    </div>
                </div>

                <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="500ms">

                    <div class="post-content">
                        <h6>Post on <a href="#">18 Dec 2020</a> / <a href="#">Peter Parker</a></h6>
                        <a href="#" class="post-title">Cattle marts: Cows take a hit at the ringside</a>
                        <p>News description here...</p>
                    </div>
                </div>

                <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="700ms">

                    <div class="post-content">
                        <h6>Post on <a href="#">18 Dec 2020</a> / <a href="#">Peter Parker</a></h6>
                        <a href="#" class="post-title">Malting barley price set to commence</a>
                        <p>News description here...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}